BASE_URL=https://test.elitefleetgroup.engenious.io
BASIC_AUTH_USER=
BASIC_AUTH_PASSWORD=
USER_EMAIL=
USER_PASSWORD=

ADMIN_BASE_URL=https://test.admin.elitefleetgroup.engenious.io
ADMIN_EMAIL=
ADMIN_PASSWORD=
