@import '../../../assets/styles/mixins';

.profile {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (min-width: 48.0625em) {
    gap: 2.75rem;
  }
}

.information {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.875rem;

  @media (min-width: 48.0625em) {
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1.875rem;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  &__title {
    color: var(--color-a-100);
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    white-space: nowrap;
  }
  &__text {
    color: var(--color-a-100);
    font-weight: 500;
    line-height: normal;
  }
}

.documents {
  gap: 1.875rem;
  display: flex;
  flex-direction: column;

  @media (min-width: 30.0625em) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__images {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    @media (min-width: 30.0625em) {
      flex-direction: row;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1 1 calc(50% - 1.875rem / 2);
  }
  &__title {
    color: var(--color-a-100);
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__license {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .imageWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .imageTitle {
    color: var(--color-a-100);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: normal;
  }
  .image {
    width: 100%;
    position: relative;

    @media (min-width: 30.0625em) {
      width: 9.75rem;
    }

    @include small-screen() {
      width: 10.96894rem;
    }

    &__card {
      aspect-ratio: 1.59;
    }
    &__page {
      aspect-ratio: 0.83;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  margin-top: -1rem;

  @media (min-width: 48.0625em) {
    margin-top: -1.75rem;
  }
}
