@import '../../../../assets/styles/mixins';

.input {
  width: 100%;
  position: relative;

  @media (min-width: 30.0625em) {
    width: 9.75rem;
  }

  @include small-screen() {
    width: 10.96894rem;
  }

  &__card {
    .label {
      aspect-ratio: 1.59;
    }
  }
  &__page {
    .label {
      aspect-ratio: 0.83;
    }
  }

  .label {
    width: 100%;
    display: block;

    &__error {
      border: 1px solid;
      border-color: var(--error) !important;
    }

    .image {
      width: 100%;
      height: 100%;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .upload {
      width: 100%;
      height: 100%;
      padding: 0rem 0.53694rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0.975px solid rgba(255, 255, 255, 0.4);
      background: rgba(255, 255, 255, 0.03);
      cursor: pointer;
    }
  }
  .button {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--button-gradient);
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    svg {
      display: flex;
      width: 1.0625rem;
      height: 1.0625rem;
    }
  }
}

.error {
  color: #ff5c00;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: normal;
  display: block;
}
