
.main-form-select_container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  .main-form-select {
    opacity: .5;

    &_error {
      .main-form-select__control {
        border-color: var(--clr-c-100);
      }
    }

    &__control {
      width: 100%;
      min-height: 3rem;
      outline: none;
      box-shadow: none;
      border: 1px solid var(--clr-a-030);
      color: var(--clr-a-100);
      font-weight: 500;
      line-height: normal;
      border-radius: 0;
      &:hover {
        border-color: var(--clr-a-060);
      }
      &--is-focused {
        border-color: var(--clr-a-060);
      }
    }

    &__placeholder {
      color: var(--clr-a-040);
      font-size: 0.875rem;
      font-weight: 500;
      line-height: normal;
    }

    &__indicator-separator {
      background: none;
    }

    &__option {
      color: var(--clr-a-100);;
      &:hover {
        background: rgba(233, 140, 0, 0.1);
        color: var(--clr-a-100);;
      }
      &--is-focused {
        background: none;
        color:var(--clr-a-100);;
      }
      &--is-selected {
        //background: rgba(233, 140, 0, 0.1);
        //color: #000;
      }
    }

    &__multi-value__remove {
     svg {
       width: 20px;
     }
      &:hover {
        background: rgba(233, 140, 0, 0.1);
      }
    }
  }
}
