@import '../../../../../assets/styles/mixins';

.modal {
  max-width: 71.25rem;
  aspect-ratio: 2.05;
  max-height: calc(100dvh - 5.5rem);
  position: relative;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  height: 2rem;
  width: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  background: var(--button-gradient);

  &:hover {
    background: var(--button-gradient-hover);
  }

  &:active {
    background: var(--button-gradient-active);
  }

  &__prev {
    left: 1rem;
  }
  &__next {
    right: 1rem;
  }
}
