@import '../../../../assets/styles/mixins';

.body {
  display: flex;
  flex-direction: column;
  gap: 3.25rem;

  @include small-screen() {
    gap: 3.0625rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
