.link {
  display: flex;
  align-items: center;
  gap: 0.375rem;

  svg {
    display: flex;
    flex: 0 0 1.5rem;
  }

  &__name {
    flex-grow: 1;
    color: var(--clr-a-080);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: underline;

    &__text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__ext {
      flex-shrink: 0;
    }
  }
}
