.stepper {
  max-width: 29.5rem;
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: center;
}

.line {
  flex-grow: 1;
  border-top: 0.0625rem solid;
  border-image: linear-gradient(270deg, rgba(255, 255, 255, 0.4) 0.55%, rgba(255, 255, 255, 0) 99.55%);
  border-image-slice: 1;
}

.step {
  color: var(--color-a-100);
  font-size: 1rem;
  font-weight: 300;
  line-height: normal;
  flex: 0 0 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: none;

  &__active {
    font-weight: 700;
    background: var(--background-100);
    flex: 0 0 2.375rem;
    height: 2.375rem;
    border: none;
    position: relative;

    &:before {
      content: '';
      display: block;
      border-radius: 50%;
      z-index: -1;
      background: var(--button-gradient);
      position: absolute;
      left: -0.125rem;
      top: -0.125rem;
      right: -0.125rem;
      bottom: -0.125rem;
    }
  }
}
