@import '../../../../assets/styles/mixins';

.body {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}

.container {
  max-width: 82.39825rem;
  margin: 0 auto;
}

.wrapper {
  max-width: 71.25rem;
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @include small-screen() {
    gap: 1.5rem;
  }

  &__top {
    display: grid;
    grid-template-columns: 1fr;
    @include small-screen() {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1.875rem;
    }
  }
}

.button {
  &__desktop {
    display: none !important;
    @include small-screen() {
      display: flex !important;
      justify-self: end;
    }
  }
  &__mobile {
    max-width: 18.75rem;
    width: 100% !important;
    align-self: center;
    @include small-screen() {
      display: none !important;
    }
  }
}

.cars {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__list {
    position: relative;
    @media (min-width: 37.5625em) {
      width: 100%;
    }
  }

  &__banner {
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
    transform-origin: center center;
    position: absolute;
    left: 50%;
    top: 50%;
    --navigation-height: 4.125rem;

    @media (min-width: 37.5625em) {
      transform: translateX(0) translateY(0) rotate(0);

      left: 0;
      top: 1rem;
      width: 100%;
      svg {
        display: flex;
        max-width: 100%;
        height: auto;
      }
    }
  }
}
