@import '../../../assets/styles/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  &__copy {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__image {
    width: 167px;
    img {
      width: 100%;
      object-fit: cover;
      object-position: left top;
      transition: transform 0.3s;
      @media (hover: hover) {
        &:hover {
          transform: scale(2.5);
          z-index: 1;
          position: relative;
        }
      }
    }

    &_card {
      img {
        aspect-ratio: 1.57;
      }
    }
    &_page {
      img {
        aspect-ratio: 0.88;
      }
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include media-query(30.0625em) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.documents {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .block {
    width: 167px;
  }

  @include media-query(30.0625em) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
