.title {
  color: var(--color-a-100);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  span {
    text-transform: lowercase;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 300;
  }
}
