:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main-font: 'Poppins', sans-serif;
  --main-transition: 0.3s;
  --header-height: 5.875rem;
}

html,
body {
  height: 100%;
}
