*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: inherit;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
}

button {
  background-color: transparent;
  outline: unset;
  border: unset;
  cursor: pointer;
}

a,
button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input {
  font-family: inherit;
  &::placeholder {
    font-family: inherit;
  }
}

svg {
  display: flex;
}

img {
  display: flex;
  max-width: 100%;
  height: auto;
}
